<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
        a:hover {
            text-decoration: none;
        }

        .alert button a {
            color: dimgrey;
        }

        .alert button a:hover {
            color: red;
        }
    </style>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Glazun0ff</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Главная</a>
        <a class="p-2 text-dark" href="/articles">Статьи</a>
        <a class="p-2 text-dark" href="/weather">Погода</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Документация</a>
</div>

{% block content %}
    <div class="container">
        <h2>Главная страница</h2>
    </div>
{% endblock %}

</body>
</html>