{% load static %}
{% load static recaptcha3 %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django News{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.css" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
</head>
<body>

<main>

    {% include 'include/navbar.html' %}

    {% block content %}
        <div class="container mt-4">
            <h2>Главная страница</h2>
        </div>
    {% endblock %}

</main>

{% include 'include/footer.html' %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>
</html>