{% extends 'base.html' %}

{% block title %}Последние статьи{% endblock %}

{% block content %}

    {% if latest_articles_list %}
        <div class="container">
            <div class="row">
                {% for a in latest_articles_list %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card bg-light h-100">
                            <div class="card-body">
                                <h5 class="card-title"><a
                                        href="{% url 'articles:detail' a.id %}">{{ a.article_title }}</a>
                                </h5>
                                <p class="card-text">{{ a.article_text|truncatechars:100 }}</p>
                                <p class="card-text"><small class="text-muted">{{ a.pub_date }}</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        Статьи не найдены!
    {% endif %}

{% endblock %}